<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Test</title>
</head>
<body>

<!--"<a class=\"collapse-item\" href=\"#\" id=\"changeDropdown\" role=\"button\"\n" +-->
<!--"   data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">" +-->
<!--"<br><i class=\"fas fa-fw fa-minus\"></i>&nbsp&nbsp&nbsp&nbsp" + "금액 : " + list[i].spending + " 원 " + "&nbsp&nbsp내용 : " + list[i].content-->
<!--+ "<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp일자 : " + list[i].localDate + "<br>"+-->
<!--"</a>" +-->
<!--"<div class=\"dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in\"\n" +-->
<!--"     aria-labelledby=\"addDropdown\">\n" +-->
<!--"    <h6 class=\"dropdown-header\">\n" +-->
<!--    "        수정 / 삭제\n" +-->
<!--    "    </h6>\n" +-->
<!--"    <div class=\"dropdown-item d-flex align-items-center\">\n" +-->
<!--"        <div>\n" +-->
<!--    "            <form method=\"post\" action=\"/update/detail\" style=\"width: 50px; float: left;\" name=\"changeContent\"\n" +-->
<!--    "                  class=\"d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search\">\n" +-->
<!--    "<input type=\"hidden\" name=\"id\" value=" + list[i].id +">" +-->
<!--    "                <div class=\"input-group\">\n" +-->
<!--        "                    <div class=\"input-group-append collapse-item\" id=\"changeSpendingContent\" \n" +-->
<!--        "                           data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">\n" +-->
<!--        "                        <button onclick=\"btnChangeContent("+i+")\" class=\"btn btn-primary\">\n" +-->
<!--        "                            <span>수정</span>\n" +-->
<!--        "                        </button>\n" +-->
<!--        "                    </div>\n" +-->
<!--    "                </div>\n" +-->
<!--"            </form>\n" +-->
<!--"            <form method=\"post\" action=\"/delete/detail\" style=\"width: 50px; float: right;\" name=\"deleteContent\"\n" +-->
<!--"                  class=\"d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search\">\n" +-->
<!--"<input type=\"hidden\" name=\"id\" value=" + list[i].id +">" +-->
<!--"                <div class=\"input-group\">\n" +-->
<!--    "                    <div class=\"input-group-append\">\n" +-->
<!--        "                        <button onclick='btnDeleteContent("+i+")' class=\"btn btn-danger\">\n" +-->
<!--        "                            <span>삭제</span>\n" +-->
<!--        "                        </button>\n" +-->
<!--        "                    </div>\n" +-->
<!--    "                </div>\n" +-->
<!--"            </form>\n" +-->
<!--"\n" +-->
<!--"        </div>\n" +-->
<!--"    </div>\n" +-->
<!--"</div>"-->



    <a class="collapse-item" href="#" id="changeDropdown" role="button" aria-labelledby="changeDropdown"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class = "btn btn-primary">
            <span>수정</span>
        </button>
    </a>
<input type=\"text\" name=\"money\" value=\"\">\n" +

    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="changeDropdown">
        <h6 class="dropdown-header">
            내역 수정
        </h6>
        <div class="dropdown-item d-flex align-items-center">
            <div>
                <form method="post" action="/update/detail" name="changeContent" onsubmit="return btnChangeContent(i)"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="hidden" name="id" value=list[i].id>
                        <input type="hidden" name="userPk" value=list[i].userPk.userPk>
                        <input type="hidden" name="account" value=list[i].account>
                        <input type="text" name="money" value="">
                        <input type="text" name="content" value="">
                        <input type="text" name="localDateTime" placeholder=list[i].localDateTime value="">
                        <div class="input-group-append">
                            <button class="btn btn-primary">
                                <span>확인</span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

























<button onclick="test()">타임리프 테스트</button>
<div th:text="${account}">test1</div>
<div th:text="${spendingEach}">test2</div>
</body>
</html>
<script>
  function test(){ // 편의 상 userPk, account 고정
    $.ajax({
      url: "http://localhost:8080/test.html", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
      data: { userPk: 2518094859,
      account :"신한은행"}, // HTTP 요청과 함께 서버로 보낼 데이터
      method: "Post",   // HTTP 요청 메소드(GET, POST 등)
      dataType: "json" // 서버에서 보내줄 데이터의 타입
    })
    $.ajax({
      url: "http://localhost:8080/test2.html", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
      data: { userPk: 2518094859,
        account :"신한은행"}, // HTTP 요청과 함께 서버로 보낼 데이터
      method: "Post",   // HTTP 요청 메소드(GET, POST 등)
      dataType: "json" // 서버에서 보내줄 데이터의 타입
    })
  }


</script>